@model MovieApp.Models.MovieListViewModel
@{
  ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (!string.IsNullOrWhiteSpace(Model.Search))
{
  <span>Found @Model.Movies.Length movies.</span>
}

@Html.ActionLink("Hjem", "Index", "Home", null, new { @class = "linkClass" })
<form method="get" action="/Movie">
  <input type="search" name="search" />
  <input type="submit" value="Search" />
</form>
@if (Request.IsAuthenticated)
{
  using (Html.BeginForm("Create", "Movie"))
  {
    @Html.AntiForgeryToken()
    @Html.LabelFor(m => m.NewMovie.Title)
    @Html.EditorFor(m => m.NewMovie.Title)
    @Html.LabelFor(m => m.NewMovie.Year)
    @Html.EditorFor(m => m.NewMovie.Year)
    @Html.LabelFor(m => m.NewMovie.ImageUrl)
    @Html.EditorFor(m => m.NewMovie.ImageUrl)
    <input type="submit" value="Add" />
  }
}
<ul class="image-list">
  @foreach (var movie in Model.Movies)
  {
    <li class="image-list-item">
      <div class="left">
        <img src="@movie.ImageUrl" class="image-list-item-image" />
        @movie.Title (@movie.Year) - @movie.Genre.Name
      </div>
      <div class="right">
          @Html.ActionLink("Edit", "Edit", new { id = movie.Id }) |
          @Html.ActionLink("Details", "Details", new { id = movie.Id }) |
          @Html.ActionLink("Delete", "Delete", new { id = movie.Id }) |
        </div>
    </li>
  }
</ul>